.env
*.env
*.db
__pycache__/
*.pyc
*.so
*.c
build_temp/
build/
*.egg-info/
token.txt
user_tokens/*.json
*.session
docker_mpt/config.yaml
docker_mpt/downloads/*
docker_mpt/*.session-journal
docker_mpt/data/account1/*
